.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  
}
Col {
  float: left;
  width: 100%;
  margin-top: 6px;
}
.select{
  padding: 20px;
}
#components-form-demo-normal-login .login-form {
    max-width: 200px;
  }
  #components-form-demo-normal-login .login-form-forgot {
    float: right;
  }
  #components-form-demo-normal-login .login-form-button {
    width: 100%;
  }
  .pass{
    background-color:'green'
  }
  input[type="text"]{
    background-color: transparent;
    border: 0px;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width:5px;
    color:transparent;
    cursor:default;
}